/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/dist
/resources/js/pages/Welcome.vue
/storage/*.key
/storage/pail
/vendor
/_starter_v0
/nul
/database/*.sqlite
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

.vercel
