/* Switzer (Indian Type Foundry, ITF Free Font License — public/fonts/Switzer-FFL.txt),
 * a variable face for text and titles; self-hosted, swapped in when ready.
 * DM Mono (OFL, @fontsource) is the second voice and loads from
 * fonts-deferred.css. */
@font-face {
    font-family: 'Switzer';
    src: url('/fonts/Switzer-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Switzer';
    src: url('/fonts/Switzer-VariableItalic.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
